:root {
    --ma-variable--font-family:"Bebas Neue";
    --ma-variable--font-size: 25px;
    --ma-varibale--decoration: none;
    --font-family-sans-serif: Roboto,Arial,sans-serif;  
}


body {
  margin: 0;
  background-color: #FDE6; /* ou n'importe quelle couleur rose de votre choix */
  font-family: var(--font-family-sans-serif);
  font-size: 20px;
  width : 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
/*-----------------------------------------------------------------------*/
.container {
    width : 100%;
    height: 250px;
    display: flex;
    align-items: center;
    background: linear-gradient(#F41313, #FDE6);
    /* background-color: #EA1414;*/ 
}
.left {
     float: left;
    
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
    flex-grow: 1;
}

h1 {
    flex: auto;
    text-align: center;
    font-size: 80px;
    font-family: "Sedgwick Ave Display";
   }


button {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    /* background-color: #EA1414;*/
    background-color: rgba(255, 255, 255, 0);

    color: #fff;
    cursor: pointer;
    font-family: "Sedgwick Ave Display", cursive;
}


button:hover {
    background-color: rgba(355, 155, 155, 0.1);
}

/*---------------------------------------------------------------------*/

h2{
    text-align:center;
    font-size:75px;
    width:100%;
    font-family: "Bebas Neue";
}

/*...........................................*/
.slideim {

  animation-duration: 6s;
  animation-name: slideim;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes slideim {
  from {
    margin-left:10%;
    width:100%
  }

  to {
    margin-left:-30%;
    width:100%;
  }
}


.cadre {
    width: 80%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(355, 155, 155, 0.1);
    margin-left: 10%;
    overflow: auto;
        align-items: center;
}

.images {
  width: 1300px;
}

.images img {
  display: inline-block;
  width: 300px;
  height: 200px;
}
/*--------------------------------------------------------------------*/
.cadre1 {
  width: 80%;
  height: 300%;
  margin-left: 10%;
  border: 1px solid/* rgba(255, 255, 255, 0)*/ black;
  background-color: rgba(355, 155, 155, 0.1);
     
}

.images1 {
  width: 2500px;
}

.images1 img {
  display: inline-block;
  width: 300px;
  height: 200px;
}

/*_______________________________________________________________________*/

.portfolio{
   /* float: left;*/
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 5%;
 
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
     background-color: rgba(355, 155, 155, 0.1);
    
}


p {
    
    padding-left: 150px; /* indentation à droite */
    padding-right: 150px;/* indentation à gauche */
    font-size:17px;
    line-height: 160%; /*taille interligne*/
    color: #334;
}

p.texte{
      font-family: "Bebas Neue";
    font-size: 15px}


a{
    color: red;
}

a.couleur{
    color:black;

}

a:hover {
    color:rgba(355, 155, 155, 0.6);
}

a:active {
    color:orange;
}


/*____________________________________________________________________________*/


select {
    text-align:center;
    font-family: var( --ma-variable--font-family);
    padding: 15px;
    border: 1px solid rgba(355, 155, 155, 0.6) /*#ccc*/;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    
}

.cadr {
    
    align-items: center;
    width: center;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
  /*  margin-left: 35%;*/
    overflow: auto;
}
